@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;1,500&family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');



:root {
    --primary-color: #03588C  ;
    --secondary-color: #F2CB05;
    --accent1-color: #048abf;
    --accent2-color: #F2AE30;
  
    --heading-font: "Cormorant Garamond";
    --paragraph-font: "Poppins", Helvetica, sans-serif;
  
    --headline-color-on-white: #03588C; 
    --headline-color-on-color: #F2cb05 ; 
    --paragraph-color-on-white: #000000; 
    --paragraph-color-on-color: #ffffff; 
    --paragraph-background-color: #03588c;

  }

  body {
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 600px;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }
  h2 {
    text-align: center;
  }
  hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
  }
  header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
  }
  header > h1, header > h2 {
    color: var(--headline-color-on-color);
  }
  p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
  }
  .colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th {
    background-color: #999;
  }
  .colors td{
    width: 25%;
    height: 3em;
  }
  .primary {
    background-color: var(--primary-color);
    color: #fff;
  }
  .secondary {
    background-color: var(--secondary-color);
  }
  .accent1 {
    background-color: var(--accent1-color);
  }
  .accent2{
    background-color: var(--accent2-color);
  }
  p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
  }
 
  