@media only screen and (min-width: 320px) {
	/* MENU
	 */
	.home {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
    .home section:nth-child(5) {
		grid-column: span 3;
	}
    .hero{
        grid-column: 1/4;
		margin: 0;
		padding: 0;
		width: 100%;
    }
	.call-to-action{
		grid-column: 1/3;
	}

    nav ul {
		display: flex;
		
		
	}
	/* nav ul li {
		flex: 1 1 100%;
	} */
	#menu {
		display: none; /* hide hamburger button */
	}
	.light-dark {
		right: 1rem;
		top: 5rem;

	}
	.navigation {
		flex-direction: row;
		justify-content: space-around;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

}