@media (min-width: 640px) {
    main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(4) {
		display: block;
	}

	main section:nth-child(5) {
		grid-column: span 2;
	}
     nav ul {
		display: flex;
	}
	#menu {
		display: none; /* hide hamburger button */
	}
	.navig {
        display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.navig a {
		display: block;
		flex: 1 1 100%;
	}

	
}